.card {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    background-color: black;
    border-radius: 15px;
    margin: 30px 70px;

}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}